.projects {
    text-align: center;
    padding: 8%;

    .projects-grid {
        margin-top: 8%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;

        .projects-text {
            text-align: left;

            .details-btn {
                color: $main-color;
                font-family: 'Montserrat';
                position: relative;
                top: 20px;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
            }
        }

        .features-list {
            margin: 20px 0;

            .feature {
                padding: 10px 0;
                display: grid;
                grid-template-columns: 80px auto;

                .icon {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    border: 2px solid #000;
                    border-radius: 50%;
                    position: relative;

                    .fas {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 28px;
                    }
                }

                .text {
                    display: inline-block;
                }
            }
        }

        .projects-img {
            grid-column: 2/3;
            position: relative;

            img {
                position: absolute;
                left: 0;
            }
        }
    }
}

@media (max-width: 400px) {
    .projects {

        .projects-text {

            &>h4,
            &>p {
                text-align: center;
            }
        }

        .projects-grid {
            grid-template-columns: auto;
            grid-template-rows: auto 200px;
            grid-column-gap: 0;

            .projects-img {
                grid-column: 1/2;
                grid-row: 2/3;
                position: relative;

                img {
                    position: absolute;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}