.work {
    height: 80vh;
    background-color: #ccc;
    position: relative;


    .fa-cog {
        position: absolute;
        color: #fff;
        font-size: 420px;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
    }

    .baner {
        position: absolute;
        right: 0;
        left: calc(10% + 210px);
        background-size: cover;
        height: 100%;
        color: #fff;
        box-shadow: 0 4px 10px #444;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('../img/sea.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            filter: brightness(0.6) grayscale(1);
        }

        .baner-text {
            height: 100%;
            position: absolute;
            padding: 60px;


            span {
                color: $main-color;
            }

            p {
                padding: 10px 0;
                font-size: 18px;
                max-width: 800px;
            }

            ul {
                list-style: none;
                text-transform: capitalize;
                font-size: 18px;
                line-height: 200%;
                margin-top: 20px;
            }

            .fa-check-circle {
                padding-right: 12px;
            }

            .btn {
                position: absolute;
                bottom: 40px;
            }
        }
    }
}

@media (max-width: 400px) {
    .work {
        height: 100vh;

        .fa-cog {
            display: none;
        }

        .baner {
            width: 100%;
            left: 0;

            .baner-text {
                padding: 40px;
            }
        }
    }
}